body
  background-color: $color-white
  font-family: 'Slabo 27px', serif
  font-size: 16px
  @include grid-container

h1
  text-transform: uppercase
  color: $color-main
  text-align: center
  small
    font-weight: lighter
    font-size: 1em
    color: $color-decent

a
  text-decoration: none
  color: $color-action

.l-content
  @include grid-column(6)
  @include grid-push(3)
